.container {
    -fx-font-family: 'Montserrat ExtraBold';
    -fx-font-size: 17px;
    -fx-background-color: rgb(15, 97, 138);
}

.right-button {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 5, 5);
}

.right-button:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 5, 0, 2.5, 2.5);
}

.text-input {
    -fx-background-color: rgb(44, 142, 184);
    -fx-highlight-fill: rgb(108, 197, 235);
    -fx-border-radius: 10px;
    -fx-border-color: rgb(91, 164, 201);
    -fx-border-width: 5px;
    -fx-font-size: 1.3em;
    -fx-text-fill: white;
    -fx-background-insets: 5px;
}

.text-input .content {
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-background-color: rgb(44, 142, 184);
}

.letter {
    -fx-min-height: 1.1cm;
    -fx-min-width: 1.1cm;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: rgb(91, 164, 201);
    -fx-background-color: rgb(75, 171, 219);
}

.letter:hover {
    -fx-border-radius: 10px;
    -fx-border-color: rgb(4, 126, 189);
    -fx-background-color: rgb(50, 176, 240);
}

.letter:pressed {
    -fx-border-radius: 10px;
    -fx-border-color: rgb(4, 126, 189);
    -fx-background-color: rgb(5, 154, 230);
}

.outer-bottom-container {
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(91, 164, 201);
    -fx-border-width: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: rgb(44, 142, 184);
}

.inner-scroll-bottom-container {
    -fx-border-style: none;
    -fx-border-width: 0px;
    -fx-background-insets: 5px;
    -fx-background-color: rgb(44, 142, 184);
}

.inner-flow-bottom-container {
    -fx-padding: 10px;
    -fx-background-color: rgb(44, 142, 184);
}

.upper-panel-bottom-container {
    -fx-font-size: 1.2em;
}